<p id="notice"><%= notice %></p>

<p>
  <strong>Order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @order.cpf_cnpj %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @order.payment_type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @order.value %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Product:</strong>
  <!-- <%= @order.product_id %> -->
  <!-- <%= Product.find_by(id: @order.product_id) %> -->
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
